<div class="row">
  <h1>Welcome, <%=@user.name%>!</h1>
  <h3>Home Page</h3>
  <%= link_to "Raise a sticky", new_sticky_path %>


  <h3>Your stickies</h3>
  <ul class="small-block-grid-3">
    <% @stickies.each do |sticky| %>
      <li><%=link_to sticky.title, sticky_path(sticky) %></li>
    <% end %>
  </ul>
</div>

