/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
pre{
  background: #F5F5F5;
  color: #333;
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid #ccc;
}

.sticky {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 2em;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.incline {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.yellow {
  background: #E9E74A;
}

.pink{
  background: #EE5E9F;
}

.orange{
  background: #F9A55B;
}

.blue {
  background: #36A9CE;
}

.reveal-modal{
  background: #333333;

}

.reveal-modal label, h1, h2, p{
  color: white;
}

#sticky_index{
  color:black;
}

.text-info{
  color:#323299;
  font-weight: bold
}

.label {
  font-size: 0.6em;
  display: inline;

}
