/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
pre{
  background: #F5F5F5;
  color: #333;
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid #ccc;
}

.sticky {
  height: 50px;
  width: 50px;
  z-index: 1;
  color: #333;
  position: relative;
  /*width: 300px;*/
  margin: 70px;
  padding: 2em;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.sticky-panel {
  background-color: rgba(0, 0, 0, 0.5);
}

body {

  background-size: 100%;
  position-left: 50%;

  background-image: url("http://static01.nyt.com/images/2014/10/14/us/SUB-JP-BOOTCAMP1/SUB-JP-BOOTCAMP1-master675.jpg");

    /*background-image: url('w3css.gif');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}




/*
.incline {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
*/
.incline:nth-of-type(1n){
      transition: 1s;

  transform: rotate(2deg);
}
.incline:nth-of-type(2n){
      transition: 1s;

  transform: rotate(2deg);
}
.incline:nth-of-type(3n){
  transform: rotate(-3deg);
  transition: 1s;
}
.incline:nth-of-type(4n){
  transform: rotate(-4deg);
  transition: 1s;
}
.incline:nth-of-type(5n){
  transform: rotate(4deg);
  transition: 1s;
}
.incline:nth-of-type(5n){
  transform: rotate(-5deg);
  transition: 1s;
}

.incline:hover {

  transform: rotate(0deg);

}
/*.incline:nth-of-type(n+2):hover {

  transform: rotate(-3deg);

}
*/



.yellow {
  background: #FFDD2A;
}

.pink{
  background: #EE5E9F;
}

.orange{
  background: #F9A55B;
}

.blue {
  background: #36A9CE;
}

.green {
  background: #D0E17D;
}

.purple {
  background: #AE85EC;
}

.reveal-modal{
  background: #333333;

}

.reveal-modal label, h1, h2, p{
  color: white;
}

#sticky_index{
  color:black;
}

.text-info{
  color:#323299;
  font-weight: bold
}

.label {
  font-size: 0.6em;
  display: inline;

}

#StickyModal{
  overflow: scroll;
}

nav {
  width: 100%;
  height: 5%;
  position: fixed !important;
  z-index: 99;
}

.index-text {
  text-align: center;
  color: black;
}

