<div class="row">
  <h1>stickies!</h1>
  <ul id="sticky-list">
    <% @stickies.each do |sticky| %>
      <p><%= link_to sticky.title, sticky_path(sticky)  %></p>
    <% end %>
  </ul>
  <%= button_to "create a new sticky!", new_sticky_path, method: :get, class: "button radius" %>
</div>